NEXT_PUBLIC_IPFS_API_URL=http://localhost:5001/api/v0
NEXT_PUBLIC_IPFS_GATEWAY_URL=http://localhost:8080/ipfs
NEXT_PUBLIC_EXECUTOR_URL=http://localhost:3001
GITHUB_ID=Ov23liLS8whS4v1Y8D8n
GITHUB_SECRET=02d3556a740ca3c0e67668ba950704b4065300e7
NEXTAUTH_SECRET=Algoflow
